.RetMed {
    background-color:black;
    
}

.navbar {
    padding: 5px;
    border: solid;
    border-color: white;
    border-width: 1px;
    background-color: rgba(255, 166, 0, 0.877); 
    display: flex;
    align-items: center;    
}

/*.logo {
    color: aliceblue;   
}*/

/*.menus {
    color: aliceblue;
}*/
