body {
    background-color: rgb(52, 8, 8);
}

.RetMed {
    background-color:black;
    
}

.navbar {
    padding: 5px;
    border: solid;
    border-color: white;
    border-width: 1px;
    background-color: black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;

}

.logo {
    color: aliceblue;      
}

.menus {
    color: aliceblue;  
}

.menus a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

.menus ul {
    display: flex;
    list-style: none;
    
}

.testePai {
    display: flex;
}

.teste {
    background-color: rgb(41, 39, 39);
    border: solid;
    border-color: rgb(255, 255, 255);
    display: flex;
    margin: 5px;
    width: 750px;
    height: 200px;
    font-size: 50px;
    justify-content: center;
    align-items: ;
    
}